* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.title {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
  margin-bottom: 50px;
}

.main {
  margin: 0 auto;
  width: 680px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.arrows {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  width: 100px;
}

.svg {
  width: 67px;
}
